@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Chiron+GoRound+TC:wght@200..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Chiron GoRound TC", sans-serif;
  font-weight: 900;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #f6f3eb;
}

#ui-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set-bar {
  background: #725349;
  padding: 8px;
  border-radius: 10px;
  pointer-events: auto;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 80px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  .bar-text {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin: 0 16px;
  }
  select {
    padding: 4px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: 0;
    background: #513228;
    color: white;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    option {
      background: #fff;
      color: #513228;
    }
  }
}

.result-board {
}

#result-board {
  margin-top: 100px;
  color: #725349;
  font-size: 60px;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
  font-family: "Bungee", serif;
  /* 邊框 */
  text-shadow: 3px 3px 0 #f6f3eb, -3px -3px 0 #f6f3eb, 3px -3px 0 #f6f3eb,
    -3px 3px 0 #f6f3eb, 0px 3px 0 #f6f3eb, 3px 0px 0 #f6f3eb, 0px -3px 0 #f6f3eb,
    -3px 0px 0 #f6f3eb;
}

#result-board.show {
  opacity: 1;
}
.sub-text {
  font-size: 24px;
  font-weight: bold;
  color: #72534999;
  display: block;
  margin-top: 8px;
}

/* 提示文字 */
.hint {
  position: fixed;
  top: 30px;
  width: 100%;
  text-align: center;
  color: #725349;
  opacity: 0.5;
  font-size: 16px;
  letter-spacing: 1px;
  pointer-events: none;
  text-transform: uppercase;
  font-family: "Chiron GoRound TC", sans-serif;
  font-weight: 900;
  @media (max-width: 600px) {
    top: auto;
    bottom: 110px;
  }
}
