@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  box-sizing: border-box;
  font-family: "Bungee", "Chiron GoRound TC", sans-serif !important;
  font-weight: 400;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #f6f3eb;
}

#ui-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set-bar {
  margin-top: 20px;
  background: #725349;
  padding: 8px;
  border-radius: 10px;
  pointer-events: auto;
  display: flex;
  gap: 12px;
  align-items: center;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 80px;
}

.bar-text {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 20px;
  margin: 0;
}

select {
  padding: 4px 20px;
  font-size: 16px;
  border-radius: 20px;
  border: 0;
  background: #513228;
  color: white;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

#result-board {
  margin-top: 30px;
  color: #725349;
  font-size: 50px;
  font-weight: 900;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result-board.show {
  opacity: 1;
}

.sub-text {
  font-size: 20px;
  font-weight: bold;
  color: #72534999;
  display: block;
  margin-top: 8px;
  max-width: 80%;
  line-height: 1.4;
}

.hint {
  position: absolute;
  bottom: 30px;
  color: #72534999;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
